@charset "UTF-8";

body {
    background-color: rgb(180, 218, 180);
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    font-weight: bold;
}

#area-login {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e8eef18f;
    height: 460px;
    width: 340px;
    padding: 40px;
    border-radius: 10px;
}

#login img {
    width: 90px;
    height: auto;
    margin-bottom: 20px;
}

#login form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#login input {
    margin-top: 10px;
    padding: 10px;
    border-radius: 8px;
    border: solid rgb(83, 128, 0);
    outline: none;
    color: #000000;
    font-size: 15px;
}

#icon {
    background: url('./imagens/show.png');
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    border: none;
    height: 20px;
    line-height: 20px;
    width: 20px;
    position: relative;
    bottom: 130%;
    left: 90%;
}

input::placeholder {
    font-size: 13px;
}

